:host {
    span {
        user-select: none;
        display: block;
        position: fixed;
        z-index: -1;
        opacity: 0;
        color: #1c1c1c;
        text-shadow: 1px 1px 3px #181818, -1px -1px 5px #181818;
    }
}
