<app-nav-bar></app-nav-bar>
<div class="container">
    <router-outlet></router-outlet>
</div>
<app-symbol-storm-ng></app-symbol-storm-ng>
<div class="container">
    <div id="bio" class="bio">
        <h1>JC Ford</h1>
        <h2>Full Stack Web Developer</h2>
        <p>Delivering great software solutions since 1997.</p>
    </div>

    <div class="welcome">
        <p>Welcome, Visitor!</p>
        <p class="shown">
            Would you kindly allow me a moment of self-promotion? I've never liked doing it, but
            that's what a developer portfolio is for, right? I promise to keep it brief.
        </p>
        <p [class.shown]="welcomeExpanded">
            I've been passionate about code since the Tandy TRS-80 days. When I learned I could type
            some weird words and numbers and make the TV screen do what I want, my young eyes
            sparkled and a nerd was born.
        </p>
        <p [class.shown]="welcomeExpanded">
            That spark of enthusiasm burns just as brightly today. I've been privileged with
            opportunities to learn a lot and I am always looking for new ways to grow and progress
            as a developer.
        </p>
        <p [class.shown]="welcomeExpanded">
            Whether you're considering hiring me or just happened by, thanks for visiting. And have
            a great day.
        </p>
        <a href="#" (click)="expandWelcome($event)" *ngIf="!welcomeExpanded"
            >&lbrace; ok &rbrace;</a
        >
    </div>

    <div class="skills">
        <h2 id="skills">Skills</h2>
        <div>
            <h3>Languages</h3>
            <ul>
                <li><img src="/assets/logos/js-logo.svg" aria-hidden="true" />JavaScript</li>
                <li><img src="/assets/logos/ts-logo.svg" aria-hidden="true" />TypeScript</li>
                <li><img src="/assets/logos/html-logo.svg" aria-hidden="true" />HTML</li>
                <li><img src="/assets/logos/css-logo.svg" aria-hidden="true" />CSS</li>
                <li><img src="/assets/logos/c-sharp-logo.svg" aria-hidden="true" />C#</li>
                <li><img src="/assets/logos/cpp-logo.svg" aria-hidden="true" />C++</li>
                <li><img src="/assets/logos/sql-logo.svg" aria-hidden="true" />SQL</li>
            </ul>
        </div>
        <div>
            <h3>Frameworks</h3>
            <ul>
                <li><img src="/assets/logos/angular-logo.svg" aria-hidden="true" />Angular</li>
                <li><img src="/assets/logos/react-logo.svg" aria-hidden="true" />React</li>
                <li><img src="/assets/logos/aspnet-logo.png" aria-hidden="true" />ASP.NET</li>
                <li><img src="/assets/logos/bootstrap-logo.svg" aria-hidden="true" />Bootstrap</li>
                <li>
                    <img src="/assets/logos/angular-material-logo.svg" aria-hidden="true" />Angular
                    Material
                </li>
            </ul>
        </div>
        <div>
            <h3>Platforms</h3>
            <ul>
                <li><img src="/assets/logos/windows-logo.svg" aria-hidden="true" />Windows</li>
                <li><img src="/assets/logos/linux-logo.svg" aria-hidden="true" />Linux</li>
                <li><img src="/assets/logos/aws-logo.svg" aria-hidden="true" />AWS</li>
                <li><img src="/assets/logos/docker-logo.svg" aria-hidden="true" />Docker</li>
                <li><img src="/assets/logos/kubernetes-logo.svg" aria-hidden="true" />Kubernetes</li>
            </ul>
        </div>
    </div>
    <div class="work">
        <h2 id="work">My Work</h2>
        <p>Sadly, most of my work has been on private corporate networks and is proprietary. I'd be happy to talk about my projects and I can provide some visual examples as needed. Please contact me via <a href="mailto:johncford+portfolio@gmail.com">email</a> or <a href="https://www.linkedin.com/in/jc-ford-3365a5b/">LinkedIn</a> for more information.</p>
    </div>
</div>
