<nav>
    <a class="link" routerLink="." fragment="bio">About</a>
    <a class="link" routerLink="." fragment="skills">Skills</a>
    <a class="link" routerLink="." fragment="work">My Work</a>
    <a class="icon" href="https://github.com/jcford73"><fa-icon [icon]="fa.faGithub"></fa-icon></a>
    <a class="icon" href="https://www.linkedin.com/in/jc-ford-3365a5b/"><fa-icon [icon]="fa.faLinkedin"></fa-icon></a>
    <a class="icon" href="mailto:johncford@gmail.com"><fa-icon [icon]="fa.faEnvelope"></fa-icon></a>
</nav>
